

.navbar .navbar-nav .nav-link{
    color: #fff;
}


.location_grid{
    text-decoration:none;
    color: black;

}

.location_tile{
    padding-left: 15rem;
    padding-right: 15rem;

}

h1, h2, h3, h4, h5, h6 {

    font-weight:900;

}


.locations{
    padding-top: 0.25in;
    padding-bottom: 3.5rem;
    margin: 5em 0;
    position: relative;
}



.portfolio img{
    height: 15rem;
    width: 100%;
    margin: 1em;

}


footer {
    background-color: #f8f9fa;
    color: #6c757d;
    width: 100%;
    padding: 1em;
}

footer a {
    color: #6c757d;
    text-decoration: none;
}

footer a:hover {
    color: #212529;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    margin: 0 10px;
}

/********************
MEDIA QUERIES
********************/

@media screen and (max-width: 776px) {
    .video {
        width: 90%;
    }

    footer .col-md-4 {
        margin-top: 20px;
    }
}
