

.navbar .navbar-nav .nav-link{
    color: #fff;
}


.location_grid{
    text-decoration:none;
    color: black;

}

.frame {
    height: 500px;
    width: 500px;
    overflow: hidden;
}
.zoomin img {
    height: 500px;
    width: 500px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}
.zoomin img:hover {
    width: 400px;
    height: 400px;
}



.card-img-top {
    transition: transform 0.3s;
}

.card-img-top:hover {
    transform: scale(1.1);
}

.location_tile{
    padding-left: 15rem;
    padding-right: 15rem;


}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 100px !important;
    text-align: center !important;
    text-align-last: center !important;
}


h1, h2, h3, h4, h5, h6 {

    font-weight:900;

}


.locations{
    padding-top: 0.25in;
    padding-bottom: 3.5rem;
    margin: 5em 0;
    position: relative;
}




footer {
    background-color: #f8f9fa;
    color: #6c757d;
    width: 100%;
    padding: 1em;
}

footer a {
    color: #6c757d;
    text-decoration: none;
}

footer a:hover {
    color: #212529;
}

footer ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    margin: 0 10px;
}

/********************
MEDIA QUERIES
********************/

@media screen and (max-width: 776px) {
    .video {
        width: 90%;
    }

    footer .col-md-4 {
        margin-top: 20px;
    }
}
